* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top center;
    
}
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
display: flex;
justify-content: center;
align-items: center;
padding: 50px 15px 15px;

}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(228, 14, 14, 0.3);
    border-radius: inherit;
    /* border: 3px solid #DF8E00; */
    
    color: #fcfbfd;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;

}

header input:focus {
    background-color: rgba(35, 4, 88, 0.6);

}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #fff;
    font-size: 32px;
    font-weight: 500;  
    margin-bottom: 5px;
}
.location .date {
    color: #fff;
    font-size: 16px;
}

.current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}


.current .temp span {
    font-weight: 500;
}
.current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;   
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }


  :root {
    --clr-neon: #15b01a;
    --clr-bg: rgb(181, 238, 8);
  }

  .borderneon{
    border: 2px solid var(--clr-neon);
    background-color: var(--clr-bg);
  }
  .neonText2{
    animation: flicker 1s infinite alternate;
    color: #fff;

  }

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  
  } }
  

